<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
        <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
            <div class="mb-4">
                <h1 class="text-grey-darkest">Todo List</h1>
                <form action="{% url 'add_task' %}" method="post">
                    {% csrf_token %}

                    <div class="flex mt-4">

                        <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                            placeholder="Add Todo" name="tasks">
                        <button
                            class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">Add</button>



                    </div>
            </div>
            <div>
                {% for task in tasks %}
                <div class="flex mb-4 items-center">
                    <p class="w-full text-grey-darkest">{{ task.title }}</p>
                    <button
                        class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green">Done</button>
                    <button type="hidden" name="pk" value="{{ task.pk }}"
                        class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red">Remove</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </form>

    <script src="https://cdn.tailwindcss.com"></script>
        
    
 

    

</body>

</html>